@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');

@font-face {
  font-family: NetlifyApiScreenshotColorEmoji;
  src: url("NotoColorEmoji.ttf") format("truetype");
}

@font-face {
  font-family: NetlifyApiScreenshotColorMonospace;
  src: url("NotoSansMono-Regular.ttf") format("truetype");
}

:root {
  --netlify-api-screenshot--emoji: NetlifyApiScreenshotColorEmoji;
  --netlify-api-screenshot--monospace: NetlifyApiScreenshotColorMonospace;
}
.netlify-api-screenshot--emoji {
  font-family: NetlifyApiScreenshotColorEmoji;
}
.netlify-api-screenshot--monospace {
  font-family: NetlifyApiScreenshotColorMonospace;
}